@model APCassandra.Controllers.AutoController

@{
    ViewData["Title"] = "Detail";
}

    <div class="container pt-3">
        <div class="row">
            <div class="col-6">
                <img src="@Model.Auto.ShowImage" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-6">
                <div class="d-flex flex-row justify-content-between">
                    <h3>@Model.Auto.Brand @Model.Auto.Model</h3>
                    <h3><span class="badge badge-primary">@Model.Auto.Price €</span></h3>
                </div>
            </div>
        </div>
    </div>